.about__decription {
  margin-bottom: 40px;
}

.about {
  .decription__block::before {
    content: "";
    position: absolute;
    left: -100%;
    top: 31px;
    width: 100%;
    height: 28px;
    background-color: $black;

    @media (max-width: 950px) {
      top: 26px;
      height: 24px;
     }

     @media (max-width: 768px) {
      top: 24px;
      height: 23px;
    }
  }
}

.about__features {
  margin-bottom: 83px;

  @media (max-width: 950px) {
    margin-bottom: 50px;
  }
}

.about__for-whom {
  margin-bottom: 111px;

  @media (max-width:950px) {
    margin-bottom: 60px;
  }
}

