.day {
  text-align: center;
}
.day__title {
  font-size: 24px;
  font-weight: normal;
  display: inline-block;
  border-radius: 10px;
  background-color: $black;
  color: $golden-yellow;
  padding: 25px 36px 25px 50px;
  text-align: center;
  margin-bottom: 37px;
}
.day__list {
  list-style: none;
  padding: 0;
}
.day__item {
  display: flex;
  height: 48px;
  text-align: right;
  position: relative;
}
.day__item-name {
  width: 305px;
  margin: 0;
  margin-right: 40px;
  text-align: right;
  align-self: flex-start;
}
.day__item-p {
  font-size: 24px;
  background-color: $golden-yellow;
  padding: 2px 30px 2px 0px;
  margin: 0;
}
.day__item-text {
  font-size: 22px;
  text-align: left;
  max-width: 650px;
  margin: 0;
  align-self: flex-end;
}
