.decription__wrapper {
  display: flex;
  flex-direction: column;

  @media (max-width: 950px) {
    padding-right: 20px;
  }
}

.decription__block {
  position: relative;
  background-color: $golden-yellow;
  border-radius: 40px;
  padding: 12px 29px;
  max-width: 800px;
  margin-left: auto;

  &:nth-child(2) {
    margin-top: 16px;
    padding-bottom: 40px;

    @media (max-width: 950px) {
      padding-bottom: 20px;
    }
  }

  @media (max-width: 950px) {
    padding: 9px 20px;
    max-width: 95%;
  }
}

.decription__text {
  font-size: 24px;
  line-height: 25px;

  span {
    background-color: $black;
    color: $white;
    padding-top: 7px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: -30px;
      top: 0;
      width: 30px;
      height: 28px;
      background-color: $black;
      z-index: 9;

      @media (max-width: 950px) {
        height: 24px;
      }

      @media (max-width: 768px) {
        height: 23px;
        left: -28px;
      }
    }
  }

  @media (max-width: 950px) {
    font-size: 20px;
  }

  @media (max-width: 768px) {
    font-size: 18px;
  }
}
