.decription__wrapper {
  padding-left: 155px;
  padding-right: 45px;
}

.decription__block {
  position: relative;
  background-color: $golden-yellow;
  border-radius: 40px;
  padding: 12px 29px;

  &:nth-child(2) {
    margin-top: 16px;
    padding-bottom: 40px;
  }
}

.decription__text {
  font-size: 24px;
  line-height: 25px;

  span {
    background-color: $black;
    color: $white;
    padding-top: 7px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: -30px;
      top: 0;
      width: 30px;
      height: 28px;
      background-color: $black;
      z-index: 9;
    }
  }
}
