.features {
  background-color: $ebony;
}

.features__wrapper {
  padding: 18px 0 46px 80px;

  @media (max-width: 950px) {
    padding: 14px 0 20px 70px;
  }

  @media (max-width: 768px) {
    padding: 15px;
  }
}

.features__wrapper > .features__title {
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 65px;

  @media (max-width: 950px) {
    font-size: 21px;
    margin-bottom: 40px;
    margin-top: 20px;
  }

  @media (max-width: 768px) {
    font-size: 18px;
  }
}

.features__list {
  list-style: none;
  max-width: 780px;

  @media (max-width: 950px) {
    max-width: 95%;
  }
}

.features__item {
  margin-bottom: 25px;
  position: relative;

  &::before {
    position: absolute;
    top: -10px;
    left: -70px;
    content: "";
    background: url("../img/icon-cross-1.svg") no-repeat;
    background-size: 57px 51px;
    width: 57px;
    height: 51px;
  }

  @media (max-width: 950px) {
    margin-bottom: 18px;
  }

  @media (max-width: 768px) {
    font-size: 16px;
  }
}

.features__title {
  font-weight: normal;
  color: white;
  letter-spacing: normal;
  text-transform: uppercase;
  margin: 0;

  span {
    color: $golden-yellow;
  }
}

.features__text {
  line-height: 1.1;
  letter-spacing: 1.1px;
  color: $golden-yellow;
  margin: 0;

  span {
    color: $white;
  }
}

.page-main__features {
  .features__wrapper {
    padding-left: 130px;

    @media (max-width: 768px) {
      padding-left: 10%;
    }
  }

  .features__item {
    margin-bottom: 50px;

    &::before {
      content: none;
    }

    @media (max-width: 950px) {
      margin-bottom: 40px;
    }
  }
}
