.for-whom__title {
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
  margin-bottom: 50px;

  @media (max-width: 950px) {
    font-size: 22px;
    margin-bottom: 40px;
  }

  @media (max-width: 768px) {
    font-size: 18px;
    margin-bottom: 15px;
  }
}

.for-whom__list {
  max-width: 60%;
  list-style: none;
  margin-left: 285px;
  padding: 0;

  @media (max-width: 950px) {
    max-width: 95%;
    padding-right: 40px;
  }

  @media (max-width: 768px) {
    padding: 15px;
  }
}

.for-whom__item {
  position: relative;
  margin-bottom: 3px;

  &::before {
    position: absolute;
    left: -25px;
    top: 15px;
    content: "";
    width: 9px;
    height: 9px;
    background-color: $black;
  }
}

.for-whom__text {
  font-size: 24px;
  line-height: 1;
  margin: 0;

  @media (max-width: 950px) {
    font-size: 22px;
  }

  @media (max-width: 768px) {
    font-size: 18px;
  }
}
