.header {
  padding: 25px 40px 4px 63px;
}

.header__wrapper {
  display: flex;
}

.header__logo {
  margin-right: auto;
  display: flex;
  align-items: center;
}

.header__logo-link:first-child {
  margin-right: 26px;
}
