.promo {
  background-color: $golden-yellow;
}

.promo__wrapper {
  background: url("../img/promo.png") no-repeat;
  height: 501px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 15px;
}

.promo__link {
  display: inline-block;
  text-align: center;
  min-width: 205px;
  letter-spacing: 1.2px;
  border-radius: 10px;
  padding: 15px 0;
  margin-right: 15px;
  font-size: 22px;
  background-color: $ebony;
  color: $white;
}
