@font-face {
  font-family: "OCRF-Regular";
  src: url("../fonts/ocrf-regularc-webfont.woff") format("woff"),
    url("../fonts/ocrf-regularc-webfont.woff2") format("woff2"),
    url("../fonts/ocrf-regularc.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
